// 是否添加支持 IE 6/7 相关的代码。
$support-old-ie = true;
//是否添加支持 HTML5 新元素相关的代码。
$support-html5 = true;
//单位转换是否保留原先尺寸
$original-size=true;

//默认的字体大小（以像素为单位），请确保其和 <html> 元素的字体大小一致（单位可以不一致，例如 100% = 16px）。
$default-font-size = 16;
//默认的文字颜色。
$default-text-color = #666;
//文本输入框占位文字的默认颜色。
$default-input-placeholder-color = #999;

//默认的普通字体族。
$default-base-font-family = 'Helvetica Neue', Arial, sans-serif;
//默认的标题字体族。
$default-heading-font-family = 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
//默认的代码字体。
$default-code-font-family = Monaco, Consolas, monospace;
//默认的手机端字体。
$default-mobile-font-family = Arial, Helvetica, simsun, sans-serif;

// * IE6/7下如果已经找到字体，不会再按字符进行fallback，故必须将雅黑置首位，写上Arial是为了在没有雅黑的情况下显示更好的英文字体
$default-old-ie-base-font-family = $default-base-font-family;
$default-old-ie-heading-font-family = 'Microsoft Yahei', Arial, sans-serif;
$default-old-ie-code-font-family = $default-code-font-family;

// 默认的圆角半径。
$default-border-radius = 5px;
//默认的元素阴影。
$default-box-shadow = 0 1px 3px rgba(0, 0, 0, 0.25);

// 默认层级
$header-z-index = 1000;
$footer-z-index = 1000;
$modal-z-index = 1050;


