<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <h1></h1><small>重度科幻迷</small>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-md-7"></div>
        </div>
      </div>
    </div>
  </body>
</html>