html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
textarea,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
textarea {
  outline: none;
  resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
a {
  cursor: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 8.33333px;
  }
  .viewport {
    max-width: 300px;
  }
}
@media only screen and (max-width: 310px) and (min-width: 300px) {
  html {
    font-size: 8.33333px;
  }
  .viewport {
    max-width: 310px;
  }
}
@media only screen and (max-width: 320px) and (min-width: 310px) {
  html {
    font-size: 8.61111px;
  }
  .viewport {
    max-width: 320px;
  }
}
@media only screen and (max-width: 350px) and (min-width: 320px) {
  html {
    font-size: 8.88889px;
  }
  .viewport {
    max-width: 350px;
  }
}
@media only screen and (max-width: 360px) and (min-width: 350px) {
  html {
    font-size: 9.72222px;
  }
  .viewport {
    max-width: 360px;
  }
}
@media only screen and (max-width: 375px) and (min-width: 360px) {
  html {
    font-size: 10px;
  }
  .viewport {
    max-width: 375px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 375px) {
  html {
    font-size: 10.41667px;
  }
  .viewport {
    max-width: 400px;
  }
}
@media only screen and (max-width: 415px) and (min-width: 400px) {
  html {
    font-size: 11.5px;
  }
  .viewport {
    max-width: 415px;
  }
}
@media only screen and (max-width: 470px) and (min-width: 415px) {
  html {
    font-size: 11.11111px;
  }
  .viewport {
    max-width: 470px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 470px) {
  html {
    font-size: 13.05556px;
  }
  .viewport {
    max-width: 480px;
  }
}
@media only screen and (max-width: 540px) and (min-width: 480px) {
  html {
    font-size: 13.33333px;
  }
  .viewport {
    max-width: 540px;
  }
}
@media only screen and (max-width: 560px) and (min-width: 540px) {
  html {
    font-size: 15px;
  }
  .viewport {
    max-width: 560px;
  }
}
@media only screen and (max-width: 570px) and (min-width: 560px) {
  html {
    font-size: 15.55556px;
  }
  .viewport {
    max-width: 570px;
  }
}
@media only screen and (max-width: 630px) and (min-width: 570px) {
  html {
    font-size: 15.83333px;
  }
  .viewport {
    max-width: 630px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 630px) {
  html {
    font-size: 17.5px;
  }
  .viewport {
    max-width: 640px;
  }
}
@media only screen and (max-width: 710px) and (min-width: 640px) {
  html {
    font-size: 17.77778px;
  }
  .viewport {
    max-width: 710px;
  }
}
@media only screen and (max-width: 720px) and (min-width: 710px) {
  html {
    font-size: 19.72222px;
  }
  .viewport {
    max-width: 720px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 20px;
  }
  .viewport {
    width: 720px;
  }
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: '';
}
.clearfix {
  *zoom: 1;
}
.txt_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.por {
  position: relative;
}
.poa {
  position: absolute;
}
.pos {
  position: static;
}
.dis_i {
  display: inline !important;
}
.dis_b {
  display: block !important;
}
.dis_ib {
  display: inline-block !important;
}
.nobgcolor {
  background-color: #fff !important;
}
.f_n {
  float: none !important;
}
.f_l {
  float: left !important;
}
.f_r {
  float: right !important;
}
.w_a {
  width: auto !important;
}
.t_a_c {
  text-align: center !important;
}
.t_a_l {
  text-align: left !important;
}
.t_a_r {
  text-align: right !important;
}
.m_0 {
  margin: 0 !important;
}
.m_t_0 {
  margin-top: 0 !important;
}
.m_t_5 {
  margin-top: 0.5rem !important;
}
.m_t_10 {
  margin-top: 1rem !important;
}
.m_t_15 {
  margin-top: 1.5rem !important;
}
.m_t_20 {
  margin-top: 2rem !important;
}
.m_t_25 {
  margin-top: 2.5rem !important;
}
.m_t_30 {
  margin-top: 3rem !important;
}
.m_t_35 {
  margin-top: 3.5rem !important;
}
.m_t_40 {
  margin-top: 4rem !important;
}
.m_t_45 {
  margin-top: 4.5rem !important;
}
.m_t_50 {
  margin-top: 5rem !important;
}
.m_r_0 {
  margin-right: 0 !important;
}
.m_r_5 {
  margin-right: 0.5rem !important;
}
.m_r_10 {
  margin-right: 1rem !important;
}
.m_r_15 {
  margin-right: 1.5rem !important;
}
.m_r_20 {
  margin-right: 2rem !important;
}
.m_r_25 {
  margin-right: 2.5rem !important;
}
.m_r_30 {
  margin-right: 3rem !important;
}
.m_r_35 {
  margin-right: 3.5rem !important;
}
.m_r_40 {
  margin-right: 4rem !important;
}
.m_r_45 {
  margin-right: 4.5rem !important;
}
.m_r_50 {
  margin-right: 5rem !important;
}
.m_b_0 {
  margin-bottom: 0 !important;
}
.m_b_5 {
  margin-bottom: 0.5rem !important;
}
.m_b_10 {
  margin-bottom: 1rem !important;
}
.m_b_15 {
  margin-bottom: 1.5rem !important;
}
.m_b_20 {
  margin-bottom: 2rem !important;
}
.m_b_25 {
  margin-bottom: 2.5rem !important;
}
.m_b_30 {
  margin-bottom: 3rem !important;
}
.m_b_35 {
  margin-bottom: 3.5rem !important;
}
.m_b_40 {
  margin-bottom: 4rem !important;
}
.m_b_45 {
  margin-bottom: 4.5rem !important;
}
.m_b_50 {
  margin-bottom: 5rem !important;
}
.m_l_0 {
  margin-left: 0 !important;
}
.m_l_5 {
  margin-left: 0.5rem !important;
}
.m_l_10 {
  margin-left: 1rem !important;
}
.m_l_15 {
  margin-left: 1.5rem !important;
}
.m_l_20 {
  margin-left: 2rem !important;
}
.m_l_25 {
  margin-left: 2.5rem !important;
}
.m_l_30 {
  margin-left: 3rem !important;
}
.m_l_35 {
  margin-left: 3.5rem !important;
}
.m_l_40 {
  margin-left: 4rem !important;
}
.m_l_45 {
  margin-left: 4.5rem !important;
}
.m_l_50 {
  margin-left: 5rem !important;
}
.p_0 {
  padding: 0 !important;
}
.p_t_0 {
  padding-top: 0 !important;
}
.p_t_5 {
  padding-top: 0.5rem !important;
}
.p_t_10 {
  padding-top: 1rem !important;
}
.p_t_15 {
  padding-top: 1.5rem !important;
}
.p_t_20 {
  padding-top: 2rem !important;
}
.p_t_25 {
  padding-top: 2.5rem !important;
}
.p_t_30 {
  padding-top: 3rem !important;
}
.p_t_35 {
  padding-top: 3.5rem !important;
}
.p_t_40 {
  padding-top: 4rem !important;
}
.p_t_45 {
  padding-top: 4.5rem !important;
}
.p_t_50 {
  padding-top: 5rem !important;
}
.p_r_0 {
  padding-right: 0 !important;
}
.p_r_5 {
  padding-right: 0.5rem !important;
}
.p_r_10 {
  padding-right: 1rem !important;
}
.p_r_15 {
  padding-right: 1.5rem !important;
}
.p_r_20 {
  padding-right: 2rem !important;
}
.p_r_25 {
  padding-right: 2.5rem !important;
}
.p_r_30 {
  padding-right: 3rem !important;
}
.p_r_35 {
  padding-right: 3.5rem !important;
}
.p_r_40 {
  padding-right: 4rem !important;
}
.p_r_45 {
  padding-right: 4.5rem !important;
}
.p_r_50 {
  padding-right: 5rem !important;
}
.p_b_0 {
  padding-bottom: 0 !important;
}
.p_b_5 {
  padding-bottom: 0.5rem !important;
}
.p_b_10 {
  padding-bottom: 1rem !important;
}
.p_b_15 {
  padding-bottom: 1.5rem !important;
}
.p_b_20 {
  padding-bottom: 2rem !important;
}
.p_b_25 {
  padding-bottom: 2.5rem !important;
}
.p_b_30 {
  padding-bottom: 3rem !important;
}
.p_b_35 {
  padding-bottom: 3.5rem !important;
}
.p_b_40 {
  padding-bottom: 4rem !important;
}
.p_b_45 {
  padding-bottom: 4.5rem !important;
}
.p_b_50 {
  padding-bottom: 5rem !important;
}
.p_l_0 {
  padding-left: 0 !important;
}
.p_l_5 {
  padding-left: 0.5rem !important;
}
.p_l_10 {
  padding-left: 1rem !important;
}
.p_l_15 {
  padding-left: 1.5rem !important;
}
.p_l_20 {
  padding-left: 2rem !important;
}
.p_l_25 {
  padding-left: 2.5rem !important;
}
.p_l_30 {
  padding-left: 3rem !important;
}
.p_l_35 {
  padding-left: 3.5rem !important;
}
.p_l_40 {
  padding-left: 4rem !important;
}
.p_l_45 {
  padding-left: 4.5rem !important;
}
.p_l_50 {
  padding-left: 5rem !important;
}
.b_0 {
  border: 0 none !important;
}
.b_t_0 {
  border-top: 0 none !important;
}
.b_r_0 {
  border-right: 0 none !important;
}
.b_b_0 {
  border-bottom: 0 none !important;
}
.b_l_0 {
  border-left: 0 none !important;
}
.js_hide {
  display: none !important;
}
a {
  display: block;
  color: inherit;
}
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
  background-color: #fff;
}
.viewport {
  margin: 0 auto;
  position: relative;
}
.page,
.page > .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
#pageLoading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255,255,255,0.8) url("../image/loading.gif") no-repeat center center;
}
.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 350ms;
  animation-timing-function: ease-out;
  animation-duration: 350ms;
}
.out {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 225ms;
  animation-timing-function: ease-in;
  animation-duration: 225ms;
}
.fade.out {
  opacity: 0;
  -webkit-animation-duration: 125ms;
  -webkit-animation-name: fadeout;
  animation-duration: 125ms;
  animation-name: fadeout;
}
.fade.in {
  opacity: 1;
  -webkit-animation-duration: 225ms;
  -webkit-animation-name: fadein;
  animation-duration: 225ms;
  animation-name: fadein;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
