.font-color-white {
  color: #fff !important;
}
.font-color-gray-light {
  color: #ccc !important;
}
.font-color-gray-neutral {
  color: #999 !important;
}
.font-color-gray-dark {
  color: #666 !important;
}
.font-color-black {
  color: #333 !important;
}
.font-color-red {
  color: #f35343 !important;
}
.font-color-blue {
  color: #007aff !important;
}
.ui-btn {
  display: inline-block;
  border-radius: 0.44999999994375rem;
  text-align: center;
}
.ui-btn.red {
  background-color: #f35343;
  border-color: #f35343;
  color: #fff;
}
.ui-btn.red:active {
  background-color: #aa3a2f;
  border-color: #aa3a2f;
  color: #b1b1b1;
}
.ui-btn.red.disabled,
.ui-form .main .cont .verify .btn.disabled {
  background-color: #fcc6c8;
  border-color: #fcc6c8;
  color: #fff8f8;
  cursor: not-allowed;
  pointer-events: none;
}
.ui-btn.gray {
  background-color: #bbb;
  border-color: #bbb;
  color: #fff;
}
.ui-tab-btns {
  width: 100%;
  text-align: center;
}
.ui-tab-btns .ui-tab-btn {
  display: inline-block;
  width: 8.662499998917188rem;
  line-height: 3.374999999578125rem;
  font-size: 1.574999999803125rem;
  text-align: center;
  background-color: #fff;
  border: 2px solid #f35343;
  margin-left: -1px;
}
.ui-tab-btns .ui-tab-btn.left {
  -webkit-border-top-left-radius: 0.44999999994375rem;
  -moz-border-top-left-radius: 0.44999999994375rem;
  border-top-left-radius: 0.44999999994375rem;
  -webkit-border-bottom-left-radius: 0.44999999994375rem;
  -moz-border-bottom-left-radius: 0.44999999994375rem;
  border-bottom-left-radius: 0.44999999994375rem;
}
.ui-tab-btns .ui-tab-btn.right {
  -webkit-border-top-right-radius: 0.44999999994375rem;
  -moz-border-top-right-radius: 0.44999999994375rem;
  border-top-right-radius: 0.44999999994375rem;
  -webkit-border-bottom-right-radius: 0.44999999994375rem;
  -moz-border-bottom-right-radius: 0.44999999994375rem;
  border-bottom-right-radius: 0.44999999994375rem;
}
.ui-tab-btns .ui-tab-btn.on {
  background-color: #f35343;
  color: #fff;
}
.ui-input-text {
  padding: 1.124999999859375rem 1.34999999983125rem;
  border: 1px solid #ccc;
  border-radius: 0.44999999994375rem;
}
.ui-input-text:-moz-placeholder {
  color: #ccc;
}
.ui-input-text::-moz-placeholder {
  color: #ccc;
}
.ui-input-text::-webkit-input-placeholder {
  color: #ccc;
}
.ui-input-text:-ms-input-placeholder {
  color: #ccc;
}
.ui-form {
  background-color: #f6f6f6;
}
.ui-form .main {
  margin: 2.24999999971875rem 1.687499999789063rem 0rem;
}
.ui-form .main .tit {
  font-size: 1.574999999803125rem;
  color: #666;
}
.ui-form .main .cont {
  margin-top: 2.24999999971875rem;
}
.ui-form .main .cont .row + .row {
  margin-top: 1.687499999789063rem;
}
.ui-form .main .cont + .tit {
  margin-top: 2.812499999648437rem;
}
.ui-form .main .cont input[type="text"],
.ui-form .main .cont input[type="password"],
.ui-form .main .cont input[type="tel"] {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.574999999803125rem;
}
.ui-form .main .cont .phone {
  position: relative;
}
.ui-form .main .cont .phone input {
  padding-left: 3.937499999507812rem;
}
.ui-form .main .cont .phone .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.124999999859375rem;
  font-size: 2.24999999971875rem;
  color: #bbb;
}
.ui-form .main .cont .verify:before,
.ui-form .main .cont .verify:after {
  display: table;
  content: "";
}
.ui-form .main .cont .verify:after {
  clear: both;
}
.ui-form .main .cont .verify input {
  float: left;
  width: 15.187499998101561rem;
}
.ui-form .main .cont .verify .btn {
  float: right;
  width: 15.187499998101561rem;
  text-align: center;
  font-size: 1.574999999803125rem;
  line-height: 4.218749999472656rem;
  border: 0 none;
  padding: 0;
}
.ui-form .main .cont .protocol {
  font-size: 1.574999999803125rem;
  color: #999;
}
.ui-form .main .cont .protocol a {
  display: inline;
}
.ui-form .main .find {
  text-align: right;
  font-size: 1.574999999803125rem;
}
.ui-form .main .operate {
  margin-top: 3.374999999578125rem;
}
.ui-form .main .operate .btn {
  width: 100%;
  color: #fff;
  line-height: 4.4999999994375rem;
  text-align: center;
  font-size: 1.912499999760937rem;
}
.ui-form .main .info {
  margin-top: 1.687499999789063rem;
  line-height: 1.3;
  font-size: 1.34999999983125rem;
  color: #999;
}
.ui-pop-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99999;
}
.ui-pop-frame .ui-pop-main {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0.562499999929687rem;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 29.812499996273434rem;
  background-color: #fff;
}
.ui-pop-frame .ui-pop-tit {
  margin-top: 2.531249999683594rem;
  font-size: 1.799999999775rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.ui-pop-frame .ui-pop-tit + .ui-pop-cont {
  font-size: 1.574999999803125rem;
  min-height: 5.624999999296874rem;
  padding: 1.687499999789063rem 1.968749999753906rem;
  text-align: left;
}
.ui-pop-frame .ui-pop-cont {
  padding: 3.937499999507812rem 1.968749999753906rem;
  font-size: 1.799999999775rem;
  line-height: 1.5;
  text-align: center;
}
.ui-pop-frame .ui-pop-operation {
  border-top: 1px solid #ccc;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.ui-pop-frame .ui-pop-operation a {
  display: table-cell;
  text-align: center;
  line-height: 5.062499999367187rem;
  font-size: 1.799999999775rem;
  color: #007aff;
}
.ui-pop-frame .ui-pop-operation a:nth-child(n+2) {
  border-left: 1px solid #ccc;
}
.ui-pop-frame .ui-pop-operation a:nth-last-child(n+2) {
  color: #999;
}
.ui-pop-wait {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
}
.ui-pop-wait .ui-pop-main {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0.562499999929687rem;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1.687499999789063rem;
  font-size: 1.574999999803125rem;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}
.ui-pop-cont-deal-password {
  position: relative;
}
.ui-pop-cont-deal-password input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.ui-pop-cont-deal-password a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1.687499999789063rem;
}
.ui-pop-cont-confirm-pay .tits {
  color: #666;
}
.ui-pop-cont-confirm-pay .conts {
  margin-top: 0.562499999929687rem;
  position: relative;
}
.ui-pop-cont-confirm-pay .conts input {
  font-size: 1.574999999803125rem;
}
.ui-pop-cont-confirm-pay .conts .ui-input-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.ui-pop-cont-confirm-pay .conts .ui-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  border: 0 none;
  padding: 0;
  width: 12.937499998382812rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}
.ui-list-more {
  font-size: 1.574999999803125rem;
  color: #333;
  background-color: #fff;
  line-height: 5.343749999332031rem;
}
.ui-list-more li {
  position: relative;
  margin-left: 5.624999999296874rem;
}
.ui-list-more li + li {
  border-top: 1px solid #e6e6e6;
}
.ui-list-more .tit {
  color: #333;
}
.ui-list-more .cont {
  position: absolute;
  right: 3.374999999578125rem;
  top: 0;
  color: #999;
}
.ui-list-more .list-icon {
  position: absolute;
  left: -3.937499999507812rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.24999999971875rem;
  color: #f35343;
}
.ui-list-more .more-icon {
  position: absolute;
  right: 1.406249999824219rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.687499999789063rem;
  color: #c2c2c2;
}
.ui-list-double {
  margin-left: 1.687499999789063rem;
}
.ui-list-double li {
  height: 7.874999999015625rem;
  position: relative;
}
.ui-list-double li + li {
  border-top: 1px solid #e6e6e6;
}
.ui-list-double li .tits {
  font-size: 1.574999999803125rem;
  color: #333;
}
.ui-list-double li .conts {
  margin-top: 1.124999999859375rem;
  font-size: 1.34999999983125rem;
  color: #999;
}
.ui-list-double li .column-left,
.ui-list-double li .column-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui-list-double li .column-left {
  left: 0;
  text-align: left;
}
.ui-list-double li .column-right {
  right: 1.687499999789063rem;
  text-align: right;
}
.ui-list-single {
  margin-left: 1.687499999789063rem;
}
.ui-list-single li {
  height: 4.94999999938125rem;
  position: relative;
}
.ui-list-single li + li {
  border-top: 1px solid #e6e6e6;
}
.ui-list-single li .column-left,
.ui-list-single li .column-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.34999999983125rem;
}
.ui-list-single li .column-left {
  left: 0;
  text-align: left;
  color: #666;
}
.ui-list-single li .column-right {
  right: 1.687499999789063rem;
  text-align: right;
  color: #999;
}
.ui-table {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.ui-table thead tr {
  background-color: #f6f6f6;
}
.ui-table thead tr th {
  line-height: 3.937499999507812rem;
  font-size: 1.34999999983125rem;
  color: $font-color-gray-dar;
  text-align: center;
}
.ui-table thead tr th:first-child {
  padding-left: 1.687499999789063rem;
  text-align: left;
}
.ui-table thead tr th:last-child {
  padding-right: 1.687499999789063rem;
  text-align: right;
}
.ui-table tbody {
  padding-left: 1.687499999789063rem;
}
.ui-table tbody tr {
  position: relative;
  background-color: #fff;
}
.ui-table tbody tr td {
  line-height: 4.94999999938125rem;
  font-size: 1.34999999983125rem;
  color: #333;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.ui-table tbody tr td:first-child {
  position: relative;
  padding-left: 1.687499999789063rem;
  text-align: left;
}
.ui-table tbody tr td:first-child:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 1.687499999789063rem;
  background-color: #fff;
}
.ui-table tbody tr td:last-child {
  padding-right: 1.687499999789063rem;
  text-align: right;
}
.ui-table tbody tr:last-child td {
  border-bottom: 0 none;
}
.ui-table tbody tr:last-child td:first-child:before {
  display: none;
}
.ui-load-state .describe-con {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 1.799999999775rem;
  color: #666;
}
.no-date.ui-load-state .describe-con {
  padding-top: 16.874999997890622rem;
  background: url("../image/page-state/nolist_pic@2x.png") no-repeat center top;
  background-size: 11.249999998593749rem auto;
}
.system-busy.ui-load-state .describe-con {
  padding-top: 16.874999997890622rem;
  background: url("../image/page-state/nowifi_pic@2x.png") no-repeat center top;
  background-size: 11.249999998593749rem auto;
}
.load-ing.ui-load-state .describe-con {
  padding-top: 17.99999999775rem;
  background: url("../image/page-state/loading/loading_h5@2x.gif") no-repeat center top;
  background-size: 17.99999999775rem auto;
}
.app-download.ui-load-state .describe-con {
  padding-top: 14.062499998242187rem;
  background: url("../image/moneybaby/lookforward.png") no-repeat center top;
  background-size: 8.887499998889062rem auto;
}
.not-found.ui-load-state .describe-con {
  padding-top: 16.874999997890622rem;
  background: url("../image/page-state/404_pic@2x.png") no-repeat center top;
  background-size: 11.249999998593749rem auto;
  top: 30%;
}
.ui-load-state .btn-con {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
}
.not-found.ui-load-state .btn-con {
  top: 55%;
}
.ui-load-state .btn-con a {
  display: block;
  width: 15.468749998066405rem;
  margin: 0 auto;
  line-height: 3.937499999507812rem;
  border: 1px solid #999;
  color: #999;
  border-radius: 5.624999999296874rem;
  font-size: 1.799999999775rem;
}
.ui-load-state .btn-con a + a {
  margin-top: 1.124999999859375rem;
}
.ui-load-state .btn-con a.red {
  color: #f35343;
  border-color: #f35343;
}
.ui-load-state .btn-con a.common-link {
  width: auto;
  text-align: center;
  line-height: inherit;
  text-decoration: underline;
  border: 0 none;
  font-size: 1.574999999803125rem;
  color: #666;
}
.ui-load-bg {
  height: 100%;
  background: url("../image/loading.gif") no-repeat center center;
  background-size: 1.799999999775rem;
}
/*iconfont*/
@font-face {
  font-family: iconfont;
  src: url("iconfont/iconfont.eot");
  src: url("iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont/iconfont.woff") format('woff'), url("iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*='icon-'],
.iconfont {
  font-family: 'iconfont' !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-nav-list:before {
  content: "\e626";
}
.on .icon-nav-list:before {
  content: "\e627";
}
.icon-nav-home:before {
  content: "\e61d";
}
.on .icon-nav-home:before {
  content: "\e61e";
}
.icon-nav-user:before {
  content: "\e623";
}
.on .icon-nav-user:before {
  content: "\e624";
}
.icon-nav-more:before {
  content: "\e620";
}
.on .icon-nav-more:before {
  content: "\e621";
}
.icon-nav-me:before {
  content: "\e63e";
}
.on .icon-nav-me:before {
  content: "\e63f";
}
.icon-security:before {
  content: "\e607";
}
.icon-pro-mark:before {
  content: "\e632";
}
.icon-wing:before {
  content: "\e612";
}
.icon-envelope:before {
  content: "\e62d";
}
.icon-bankCard:before {
  content: "\e613";
}
.icon-arrow-right:before {
  content: "\e634";
}
.icon-arrow-bottom:before {
  content: "\e635";
}
.icon-tick-solid:before {
  content: "\e609";
}
.icon-tick-hollow:before {
  content: "\e608";
}
.icon-cross-hollow:before {
  content: "\e616";
}
.icon-gift:before {
  content: "\e60e";
}
.icon-envelop:before {
  content: "\e619";
}
.icon-shield:before {
  content: "\e606";
}
.icon-query:before {
  content: "\e633";
}
.icon-tel:before {
  content: "\e605";
}
.icon-phone:before {
  content: "\e60b";
}
.icon-clock:before {
  content: "\e62b";
}
.icon-clock-solid:before {
  content: "\e638";
}
.icon-money:before {
  content: "\e615";
}
.icon-purse:before {
  content: "\e602";
}
